<%- include("partials/header.ejs") %>
<section>
    <div class="container my-5">
        <div class="p-5 text-center bg-body-tertiary rounded-3">
          <img src="images/cat1.png" alt="" class="profile">
          <h1 class="text-body-emphasis">Tech Stack</h1>
          </div>
        </div>
      </div>
    <div class="container">
        <div class="row">
            <div class="col-6" style="display: flex; justify-content: center;">
                <ul>
                  <li><h3>HTML</h3></li>
                  <li><h3>CSS</h3></li>
                  <li><h3>Javascript</h3></li>
                  <li><h3>Bootstrap</h3></li>
                </ul>
            </div>
            <div class="col-6" style="display: flex; justify-content: center;">
                <ul>
                  <li><h3>NodeJS</h3></li>
                  <li><h3>ExpressJS</h3></li>
                  <li><h3>EJS</h3></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<%- include("partials/footer.ejs") %>