.cover-img
{
    height: 300px;
    width: 500px;
}
.header
{
    background-color: #d3d3d3;
}
.gradient
{
    background-image: linear-gradient(to right bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    
}
.flex
{
    display: flex;
    justify-content: center;
}
.forms
{
    width: 500px;
    height: 400px;
}
.profile
{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}